#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Top resume strategies | Resume Guide
Exec=/opt/google/chrome/chrome --profile-directory=Default --app-id=kbpbhcapmohbpmdlbonfobeedbkgjfnm
Icon=chrome-kbpbhcapmohbpmdlbonfobeedbkgjfnm-Default
StartupWMClass=crx_kbpbhcapmohbpmdlbonfobeedbkgjfnm
