#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=English for Career Development - Univ...
Exec=/opt/google/chrome/chrome --profile-directory=Default --app-id=elopmmjmmbffjopjppdhaohpjbahfddd
Icon=chrome-elopmmjmmbffjopjppdhaohpjbahfddd-Default
StartupWMClass=crx_elopmmjmmbffjopjppdhaohpjbahfddd
Name[en_US]=English for Career Development
