/Udacity/Deep Learning/Assignment 1 - notMNIST/notMNIST_large.tar.gz
/Udacity/Deep Learning/Assignment 1 - notMNIST/notMNIST_small.tar.gz
/Udacity/Deep Learning/Assignment 1 - notMNIST/notMNIST_large
