/**/logs/
/**/remote_data/
/Udacity/Deep Learning/Assignment 1 - notMNIST/notMNIST_large.tar.gz
/Udacity/Deep Learning/Assignment 1 - notMNIST/notMNIST_small.tar.gz
/Udacity/Deep Learning/Assignment 1 - notMNIST/notMNIST_large/
/Big Data University/Deep Learning with TensorFlow/Module 1 - Introduction to TensorFlow/logs/
/Big Data University/Deep Learning with TensorFlow/Module 2 - Convolutional Networks/MNIST_data/
