#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Inquiry Letter Sample l CareerOneStop
Exec=/opt/google/chrome/chrome --profile-directory=Default --app-id=jigehehapeapjcngecpnejenjaghogcn
Icon=chrome-jigehehapeapjcngecpnejenjaghogcn-Default
StartupWMClass=crx_jigehehapeapjcngecpnejenjaghogcn
