#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cover Letters l CareerOneStop
Exec=/opt/google/chrome/chrome --profile-directory=Default --app-id=mmjmbnppmonamfbpncieeapfkfhannnc
Icon=chrome-mmjmbnppmonamfbpncieeapfkfhannnc-Default
StartupWMClass=crx_mmjmbnppmonamfbpncieeapfkfhannnc
