#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Why an old-fashioned cover letter sti...
Exec=/opt/google/chrome/chrome --profile-directory=Default --app-id=ehinkinpdkkoolnonbndlmmnajjhcngb
Icon=chrome-ehinkinpdkkoolnonbndlmmnajjhcngb-Default
StartupWMClass=crx_ehinkinpdkkoolnonbndlmmnajjhcngb
